.FirstScreen {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  margin-top: 0;
  height: 50vw;
}

.Background {
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 20px;
  box-sizing: border-box;
  width: calc(100vw - 40px);
}

.FirstScreenContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.FirstScreenContent {
  z-index: 1;
  position: relative;
}

.Sigma {
  font-weight: 200;
  font-size: 2.1vw;
  margin-bottom: -1.5vw;
  margin-top: -3.2vw;
}

.Ring1 {
  font-weight: 700;
  font-size: 7.3vw;
  margin-left: -0.4vw;
  margin-bottom: -2.8vw;
}

.Be {
  font-weight: 700;
  font-size: 19.2vw;
  margin-left: -1.5vw;
  margin-top: 0px;
  letter-spacing: -2.6vw;
  color: rgba(255, 255, 255, 0.59);
  padding-right: 3.6vw;
  background-color: rgba(255, 255, 255, 0.59);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 15.6vw;
}

.Tech {
  font-weight: 400;
  font-size: 2vw;
  margin-left: 0px;
  max-width: 21vw;
  margin-bottom: 0vw;
}

.multiply {
  display: flex;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
}

.OverflowingText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  line-height: normal;
  height: 55vh;
  top: 0;
}
.Anim-Ring {
  position: absolute;
}
.ring-wrapper {
  position: absolute;
  bottom: 0vw;
  width: 34vw;
  animation: floatYRing 4s ease-in-out infinite;
  z-index: 2;
}
.unused {
  top: -5vw;
  left: 4vw;
}
.ringimg {
  width: 35vw;
  transform: rotate(77.36deg);
}

.shadow {
  width: 50vw;
  position: absolute;
  top: 13.5vw;
  right: 18vw;
  z-index: 1;
  animation: floatYShadow 4s ease-in-out infinite;
}

.FirstScreenCorner {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: end;
  position: absolute;
  right: 40px;
  bottom: 2vw;
  width: 26vw;
  height: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .FirstScreen {
    height: calc((100vw - 40px) * 1.76);
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .FirstScreenContentContainer {
    justify-content: start;
    margin-left: calc(20px + 7vw);
    margin-top: 10vw;
  }
  .Sigma {
    font-size: 6vw;
    margin-top: 0;
    margin-bottom: -3vw;
  }

  .Ring1 {
    font-size: 20vw;
    margin-left: -1vw;
    margin-bottom: 0;
  }

  .Tech {
    font-size: 5vw;
    max-width: 60vw;
  }
  .OverflowingText {
    width: 100vw;
    display: flex;
    flex: 1;
    justify-content: start;
  }

  .Anim-Ring {
    position: relative;
    flex-direction: column;
  }
  .ringimg {
    width: 80vw;
  }
  .Anim-Ring {
    position: relative;
  }

  .FirstScreenCorner {
    right: 8vw;
    height: auto;
    flex-grow: 1;
    width: 56vw;
    bottom: 5vw;
  }

  .ring-wrapper {
    position: relative;
    margin-top: 5vw;
    margin-left: 5vw;
    animation: floatYRingMobile 4s ease-in-out infinite;
  }

  .shadow {
    top: 16.5vw;
    width: 90vw;
    margin-top: -24vw;
    animation: floatYShadow 4s ease-in-out infinite;
  }
}

@keyframes floatYShadow {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-1.5vw);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

@keyframes floatYRing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1.5vw);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatYShadowMobile {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-4.5vw);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0.5;
  }
}

@keyframes floatYRingMobile {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4.5vw);
  }
  100% {
    transform: translateY(0);
  }
}
