.FourthScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 26vw;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: "Suisse Intl", sans-serif;
  margin-top: -1px;
}

.FourthScreenVideo {
  height: 25vw;
  border-radius: 1vw;
}

.FourthScreenImage {
  height: 25vw;
  border-radius: 1vw;
}

@media (max-width: 768px) {
  .FourthScreen {
    flex-direction: column;
    margin-top: -1px;
    height: 112vw;
  }
  .FourthScreenVideo {
    border-radius: 4vw;
    width: calc(100vw - 40px);
    height: auto;
  }
  .FourthScreenImage {
    border-radius: 4vw;
    width: calc(100vw - 40px);
    height: auto;
  }
}
