.App-header {
  padding: 20px 10px;
  background-color: black;
  min-height: 5vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 9;
  font-family: "Lexend", sans-serif;
}
.Hamburger {
  display: flex;
  flex-direction: column;
  height: 3vw;
  z-index: 9;
  margin-left: 15px;
  justify-content: center;
}

.Hamburger-line {
  width: 2.9vw;
  height: 0.5vw;
  margin-top: 0.6vw;
  border-radius: 10px;
  background: #d9d9d9;
}
.Line2 {
  width: 2vw;
}
.Cross {
  color: #ffffff;
  transition: color 0.5s ease;
}
.Cross:hover {
  color: #909090;
  cursor: pointer;
}

.Hamburger:hover {
  cursor: pointer;
}

.Hamburger:hover .Hamburger-line {
  background: #909090;
}

.App-logo {
  z-index: 9;
  height: 2.5vw;
}

.left,
.center,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.MobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  max-width: 15vw;
  background-color: #0007;
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  transition: left 0.3s ease;
}

.MobileMenu.open {
  left: 0;
}

.MobileMenu a {
  text-decoration: none;
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

.active {
  font-family: "Lexend", sans-serif;
  background-color: #c1ef00;
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 80px;
  border-radius: 40px;
  border: solid 1px rgb(47, 58, 2);
  margin-bottom: 20px;
}

.inactive {
  font-family: "Lexend", sans-serif;
  background-color: #777a6c;
  color: white;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 80px;
  border-radius: 40px;
  border: solid 1px rgb(47, 58, 2);
  margin-bottom: 20px;
}

.inactive:hover {
  background-color: #7f7f7f;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .App-logo {
    height: 10vw;
  }
  .Hamburger {
    height: 8vw;
  }
  .Hamburger-line {
    height: 1.5vw;
    width: 8vw;
    margin-top: 1.5vw;
  }
  .Line2 {
    width: 5.5vw;
  }
}
