.SecondScreen {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  height: 54.5vw;
  color: white;
  font-family: "Suisse Intl", sans-serif;
  padding: 40px 0;
  margin-top: -1px;
}

.PrimaryContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  position: relative;
}

.SecondScreenImages {
  width: 10vw;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  position: relative;
  background-color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CircleStack {
  position: absolute;
  width: 25vw;
  height: 25vw;
}

.FlatRing {
  top: 50%;
  left: 50%;
  width: 4vw;

  position: absolute;
  z-index: 3;
  mix-blend-mode: multiply;
}

.GlowingCircle {
  top: 50%;
  left: 50%;
  height: 3.75vw;
  width: 3.75vw;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  background: #c1ef00;
  /* background: radial-gradient(circle, #c1ef00 0%, transparent 60%); */
}

.Circle1 {
  top: 50%;
  left: 50%;
  width: 7vw;
  height: 7vw;
  opacity: 0.44;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;

  background: radial-gradient(
    circle,
    #c1ef00 0%,
    #c1ef00 40%,
    #c1ef0007 70%,
    transparent 100%
  );
}

.CircleAnim2 {
  top: 50%;
  left: 50%;
  width: 11vw;
  height: 11vw;
  opacity: 0.38;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow1 2s ease infinite;
}

.CircleAnim3 {
  top: 50%;
  left: 50%;
  width: 15vw;
  height: 15vw;
  opacity: 0.32;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow2 2s ease 0.2s infinite;
}

.CircleAnim4 {
  top: 50%;
  left: 50%;
  width: 19vw;
  height: 19vw;
  opacity: 0.26;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow3 2s ease-out 0.4s infinite;
}

.Circle5 {
  top: 50%;
  left: 50%;
  width: 23vw;
  height: 23vw;
  opacity: 0.2;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  background: radial-gradient(
    circle,
    #c1ef00 0%,
    #c1ef00 8%,
    #c1ef003b 20%,
    #c1ef0007 60%,
    transparent 100%
  );
  background: radial-gradient(
    circle,
    #c1ef00 0%,
    #c1ef00 8%,
    #bfef008c 30%,
    #c1ef0007 70%,
    transparent 100%
  );
}

.HandLayers {
  position: absolute;
  z-index: 4;
  display: flex;
  flex: 1;
  left: 18vw;
  top: 9.5vw;
}

.SuperposedImage {
  position: absolute;
}

.HandImage {
  margin-left: 1.5vw;
  height: 31vw;
  position: absolute;
  z-index: 4;
}

.HandOverlay {
  top: 12vw;
  margin-bottom: -0.5vw;
  height: 19vw;
  width: 17vw;
  position: absolute;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.MobileText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
  margin: 0 25px;
}

.SecondScreenText {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  height: 100%;
}

.Title {
  font-weight: 400;
  font-size: 2.5vw;
  max-width: 32vw;
}

.Subtitle {
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-weight: 250;
  font-size: 1vw;
}

.SecondaryContainer {
  width: 100%;
}

.CardContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  z-index: 4;
}

.keen-slider {
  width: 100%;
  overflow: hidden;
}
.keen-slider__slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #c1ef00;
}

@media (max-width: 768px) {
  .SecondScreen {
    min-height: 280vw;
    margin-top: -1px;
  }

  .PrimaryContainer {
    flex-direction: column;
    align-items: center;
    height: 130vw;
  }

  .Title {
    font-size: 7vw;
    max-width: calc(100vw - 50px);
    margin-bottom: 5vw;
  }
  .Subtitle {
    font-size: 3vw;
    max-width: calc(100vw - 50px);
  }
  .SecondScreenImages {
    width: 100%;
    padding-bottom: 100vw;
  }

  .CircleStack {
    width: 80vw;
    height: 80vw;
  }

  .FlatRing {
    width: 15vw;
  }

  .GlowingCircle {
    width: 14vw;
    height: 14vw;
  }

  .Circle1 {
    width: 25vw;
    height: 25vw;
  }
  .CircleAnim2 {
    width: 35vw;
    height: 35vw;
  }
  .CircleAnim3 {
    width: 45vw;
    height: 45vw;
  }
  .CircleAnim4 {
    width: 55vw;
    height: 55vw;
  }
  .Circle5 {
    width: 65vw;
    height: 65vw;
  }
  .HandImage {
    height: 80vw;
  }
  .HandLayers {
    top: 33vw;
    left: 34vw;
  }
  .HandOverlay {
    top: 30vw;
    height: 50vw;
    width: 40vw;
  }

  .SecondaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  /* .SecondScreen {
    margin-top: -1px;
  }
  .PrimaryContainer {
    flex-direction: column;
    margin-top: 90vh;
    width: 50vw;
  }
  
  .Title {
    font-size: 25px;
    font-weight: 300;
  }
  .Subtitle {
    font-size: 11px;
  } */
}

@keyframes borderGrow1 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes borderGrow2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.075);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes borderGrow3 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}
