.SecondScreen {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  color: white;
  font-family: "Suisse Intl", sans-serif;
}

.PrimaryContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.SecondScreenImages {
  margin-top: -500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CircleStack {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 5vh;
}

.FlatRing {
  top: 50%;
  left: 50%;
  width: 75px;
  position: absolute;
  z-index: 3;
  mix-blend-mode: multiply;
}

.GlowingCircle {
  top: 50%;
  left: 50%;
  height: 72px;
  width: 72px;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  background: #c1ef00;
  /* background: radial-gradient(circle, #c1ef00 0%, transparent 60%); */
}

.Circle1 {
  top: 50%;
  left: 50%;
  width: 129px;
  height: 129px;
  opacity: 0.3;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  background: radial-gradient(
    circle,
    #c1ef00 0%,
    #c1ef00 8%,
    #c1ef003b 20%,
    #c1ef0007 60%,
    transparent 100%
  );
}

.CircleAnim2 {
  top: 50%;
  left: 50%;
  width: 211px;
  height: 211px;
  opacity: 0.3;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow1 2s ease infinite;
}

.CircleAnim3 {
  top: 50%;
  left: 50%;
  width: 299px;
  height: 299px;
  opacity: 0.3;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow2 2s ease 0.2s infinite;
}

.CircleAnim4 {
  top: 50%;
  left: 50%;
  width: 393px;
  height: 393px;
  opacity: 0.3;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  transform: translate(-50%, -50%) scale(1);
  animation: borderGrow3 2s ease-out 0.4s infinite;
}

.Circle5 {
  top: 50%;
  left: 50%;
  width: 493px;
  height: 493px;
  opacity: 0.3;
  border-width: 1px;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  background: radial-gradient(
    circle,
    #c1ef00 0%,
    #c1ef00 8%,
    #c1ef003b 20%,
    #c1ef0007 60%,
    transparent 100%
  );
}

.HandLayers {
  position: absolute;
  z-index: 4;
  display: flex;
  top: 50%;
  transform: translate(-20px, 530px);
}

.SuperposedImage {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.HandImage {
  margin-left: 30px;
  height: 596px;
  position: absolute;
  z-index: 4;
}

.HandOverlay {
  margin-bottom: -10px;
  height: 374px;
  width: 340px;
  position: absolute;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.MobileText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  margin-top: -130vh;
  margin-bottom: 30vh;
  width: 94vw;
}

.SecondScreenText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  width: 650px;
  margin-top: -100px;
  margin-right: -100px;
}

.Title {
  font-weight: 400;
  font-size: 50px;
}

.Subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 250;
  font-size: 20px;
}

.CardContainer {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.keen-slider {
  width: 100%;
  overflow: hidden;
}
.keen-slider__slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #c1ef00;
}

@media (max-width: 768px) {
  .SecondScreen {
    margin-top: -1px;
  }
  .PrimaryContainer {
    flex-direction: column;
    margin-top: 90vh;
    width: 50vw;
  }
  .CircleStack {
    width: 50vw;
  }
  .Circle1 {
    width: 25vw;
    height: 25vw;
  }
  .CircleAnim2 {
    width: 35vw;
    height: 35vw;
  }
  .CircleAnim3 {
    width: 45vw;
    height: 45vw;
  }
  .CircleAnim4 {
    width: 55vw;
    height: 55vw;
  }
  .Circle5 {
    width: 65vw;
    height: 65vw;
  }
  .HandImage {
    height: 50vh;
  }
  .HandLayers {
    margin-top: -9vh;
  }
  .Title {
    font-size: 25px;
    font-weight: 300;
  }
  .Subtitle {
    font-size: 11px;
  }
}

@keyframes borderGrow1 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes borderGrow2 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.075);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes borderGrow3 {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
  }
}
