.SeventhScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0 6vw 0;
  width: 100%;
  background-color: #000000;
  color: rgb(255, 253, 253);
  font-family: "Suisse Intl", sans-serif;
  margin-top: -1px;
}

.SeventhScreenTitle {
  font-size: 3vw;
  font-weight: 700;
  margin-left: -16vw;
}

.Question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 78vw;
  height: 6vw;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}

.Answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 78vw;
  padding: 2vw 0 2vw 0;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}

.QuestionNumber {
  font-size: 1.3vw;
  font-weight: 700;
  width: 1vw;
}

.QuestionText {
  font-size: 1.4vw;
  font-weight: 300;
  width: 21vw;
}

.AnswerText {
  font-size: 1.4vw;
  font-weight: 300;
}

.QuestionArrowIcon {
  background-color: #c1ef00;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin-right: 0.2vw;
}

.QuestionArrowIcon:hover {
  background-color: #6d8802;
}

.AnswerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.AnswerContainer.open {
  max-height: 500vh;
}

.QuestionArrowIcon.open {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .SeventhScreen {
    margin-top: -1px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: auto;
    position: relative;
    padding-top: 10vw;
    padding-bottom: 10vw;
    margin-bottom: -1px;
  }
  .SeventhScreenTitle {
    font-size: 6vw;
    font-weight: 700;
    margin-left: 4vw;
    line-height: 12vw;
  }
  .Question {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 16vw;
    border-top: rgba(255, 255, 255, 0.2) 1px solid;
  }
  .Answer {
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 6vw 0 6vw 0;
    border-top: rgba(255, 255, 255, 0.2) 1px solid;
  }
  .QuestionNumber {
    font-size: 4vw;
    font-weight: 700;
    width: 5vw;
    margin-left: 5vw;
  }
  .QuestionText {
    font-size: 3vw;
    font-weight: 300;
    width: auto;
    margin: 0vw;
    padding: 0;
  }
  .AnswerText {
    font-size: 3vw;
    font-weight: 300;
    width: auto;
    margin: 0vw;
    padding: 0 4vw 0 4vw;
  }
  .QuestionArrowIcon {
    background-color: #c1ef00;
    width: 11vw;
    height: 11vw;
    border-radius: 100%;
    margin-right: 5vw;
  }
}
