.ThirdScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: "Suisse Intl", sans-serif;
  padding-bottom: 40px;
  margin-top: -1px;
}

.BenefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
}

.BenefitsTitle {
  font-size: 3.5vw;
  font-weight: 700;
}

.BenefitsSubtitle {
  margin-top: -1vw;
  font-size: 1.5vw;
  font-weight: 275;
}

.Benefits {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 275;
}

.SecondColumn {
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
}

.RingBoxContainer {
  position: relative;
  margin-right: 20px;
  margin-left: 9vw;
  color: black;
  font-weight: 700;
}

.RingBoxImage {
  width: 47.5vw;
}

.RingBoxText {
  position: absolute;
  top: 4.6vw;
  left: 6vw;
  font-size: 1.9vw;
  font-weight: 26.5vw;
  width: 15.5vw;
}

.Large {
  top: 4.5vw;
  left: 21.5vw;
  font-size: 2.7vw;
  line-height: 3.7vw;
  width: auto;
}

@media (max-width: 768px) {
  .ThirdScreen {
    flex-direction: column;
    margin-top: -1px;
    padding-bottom: 0px;
  }
  .BenefitsContainer {
    margin: 5vw;
    width: calc(100vw - 40px);
  }
  .BenefitsTitle {
    font-size: 10vw;
  }
  .BenefitsSubtitle {
    font-size: 4vw;
    margin-top: -1vw;
  }
  .Benefits {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  .FirstColumn {
    width: 40vw;
  }
  .SecondColumn {
    margin-left: 7vw;
    width: 40vw;
  }
  .RingBoxContainer {
    margin: 0 2vw;
    display: flex;
  }
  .RingBoxText {
    font-size: 3.6vw;
    width: 29vw;
    left: 11vw;
    top: 9vw;
  }
  .Large {
    font-size: 5.5vw;
    left: 40vw;
    top: 10vw;
    line-height: 6.5vw;
    width: 44vw;
  }
  .RingBoxImage {
    width: calc(100vw - 40px);
  }
}
