.Card {
  width: 23vw;
  height: 14vw;
  border-radius: 2vw;
  color: black;
}

.CardTitle {
  margin-left: 2vw;
  margin-top: 15px;
  font-size: 1.1vw;
  font-weight: 600;
}

.CardContent {
  margin-left: 2vw;
  margin-top: 0.5vw;
  font-size: 1vw;
  max-width: 21vw;
  font-weight: 300;
  white-space: pre-line;
}

.CardIcon {
  margin-left: 2vw;
  margin-top: 1.5vw;
  width: 3vw;
}
