.PromoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9vw;
  height: 11;
  background-color: white;
  border-radius: 2vw;
  font-family: "Suisse Intl", sans-serif;
  margin-right: 1vw;
}

.PromoCardImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
}
.PromoCardImgTag {
  height: 5.5vw;
}
.PromoCardText {
  margin: 0.7vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
  font-weight: 300;
  width: 5vw;
  white-space: pre-line;
  text-align: center;
}
